@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, san-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh; /*Tamanho mínimo da minha viewport vai ser de 100%*/
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{  /*Tag: text-transform: uppercase; transforma tudo em maiúsculo
    Tag: font-variant: small-caps; Continuo tendo as letras em maiúsculas porém, as primeiras ficam maiores (em destaque)  */
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw; /* 10% da largura da tela*/
}
header p{ 
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{ /* Vai fazer com que o texto ganhe 10% de espaço da minha tela, ficando    também um pouco responsivo conforme eu diminua o tamanho da minha tela*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*espaçamento duplo entre as linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgba(0, 0, 0, 0.345);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.585);/*adiciona uma sombra interna na imagem */
    background-size: cover; /*Diminuiu o tamanho da imagem sem alterara a qualidade ( assim ela se adapta melhor quando a tela for menor*/
    background-attachment: fixed; /* Tag que causou o efeito paralax ( basicamente ele fixou a imagem na tela de fundo ocupando a tela inteira mas sem ficar totalmente perceptível*/
    
}

#img01{
    background-image: url('../imagens/background001.jpg'); /* Tag para adicionar a imagem*/
    background-position: right center; /* Posição da imagem, no caso ( centralizado à direita*/
}

#img02{
    background-image: url('../imagens/background002.jpg');
    
}

.imagem p{
    display: inline-block; /* transforma naquela caixa que se adapta ao conteúdo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    text-shadow: 1px 1px 0px black; /*Sombra no texto*/
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}